#contact-table {
  padding: 50px;
  min-width: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.text-box {
  width: 500px;
}

.sm-box {
  width: 150px;
}

.box-layout {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

td input {
  height: 36px;
  border-radius: 5px;
  border: 0.25px solid var(--primary);
}

.inline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}
