:root {
  --secondary: #1b0a05;
  --tint: #fff7e2;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px); /* Move the content up by 50px */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Return the content to its original position */
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Headland One', serif;
  margin: 0;
  font-style: normal;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--secondary);
  color: #fff;
}

a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}

.top-bar {
  background-color: var(--secondary);
  color: #fff;
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.img-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: clip;
}

.logo {
  display: inline-block;
  margin-right: 20px; /* Add margin for spacing */
}

.left-column {
  float: left;
  min-width: 140px;
  width: 60%;
  height: 100%;
}

.right-column {
  height: auto;
  width: 40%;
  color: #302a22;
}

.right-elements {
  display: flex;
  flex-direction: row; /* Align items vertically in a column layout */
  align-items: center; /* Adjust as needed to control horizontal alignment */
  margin-right: 50px;
}

.right-elements a {
  margin-left: 20px;
  font-size: 14px;
}

#featured-collection {
  opacity: 0;
  animation: fade-in-up 1s ease-in-out;
  animation-fill-mode: forwards;
}

.hr-line {
  width: 60%;
  height: 2px;
  background-color: var(--secondary);
  float: right;
}

.filter {
  display: flex;
  justify-content: end;
  margin: 12px 64px 0 0;
  height: auto;
}

.banner {
  width: 100%;
  height: 23%;
  position: fixed;
  overflow-y: clip;
  overflow-x: clip;
  position: sticky;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgba(255, 255, 255, 0.8); /* White overlay with 80% opacity */
  z-index: 1;
}

.image-text {
  color: #000; /* Text color */
  font-size: 18px; /* Adjust the font size as needed */
  text-align: center; /* Center text horizontally */
  z-index: 2;
  position: absolute;
  top: 65px;
  width: 100%;
  padding: 25px 0px 0 80px;
}
