:root {
  --secondary: #1b0a05;
  --primary: #daa520;
  --tint: #fff7e2;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px); /* Move the content up by 50px */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Return the content to its original position */
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Headland One', serif;
  margin: 0;
  font-style: normal;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--secondary);
  color: #fff;
}

a {
  list-style: none;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.top-bar {
  background-color: var(--secondary);
  color: #fff;
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.img-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: clip;
}

.logo {
  display: inline-block;
  margin-right: 20px; /* Add margin for spacing */
}

.left-column {
  float: left;
  min-width: 140px;
  width: 60%;
  height: 100%;
}

.right-column {
  height: auto;
  width: 40%;
  color: #302a22;
}

.right-elements {
  display: flex;
  flex-direction: row; /* Align items vertically in a column layout */
  align-items: center; /* Adjust as needed to control horizontal alignment */
  margin-right: 50px;
}

/* for top bar */
.right-elements a:hover {
  color: var(--primary);
}

.menu-item {
  position: relative;
  transition: opacity 0.3s;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 128px;
  background-color: #333;
  flex-direction: column;
  padding: 10px;
  margin-left: 12px;
  margin-top: 0;
}

.menu-item:hover .options {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s;
}

.options a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  width: 96px;
  transition: color 0.3s;
}

.options a:hover {
  color: var(--primary);
}

.right-elements a {
  margin-left: 20px;
  font-size: 14px;
}

#featured-collection {
  opacity: 0;
  animation: fade-in-up 1s ease-in-out;
  animation-fill-mode: forwards;
}

.hr-line {
  width: 60%;
  height: 2px;
  background-color: var(--secondary);
  float: right;
}

.filter {
  display: flex;
  justify-content: end;
  margin: 12px 64px 0 0;
  height: auto;
}

.banner {
  width: 100%;
  height: 22%;
  position: fixed;
  overflow-y: clip;
  overflow-x: clip;
  position: sticky;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: clip;
  overflow-y: clip;
  background: rgba(255, 255, 255, 0.8); /* White overlay with 80% opacity */
  z-index: 1;
}

.image-text {
  color: #000; /* Text color */
  font-size: 18px; /* Adjust the font size as needed */
  text-align: center; /* Center text horizontally */
  z-index: 2;
  position: absolute;
  top: 54px;
  width: 100%;
  padding: 25px 0px 0 80px;
}

.box {
  border-radius: 10px;
  border: 0.5px solid var(--primary);
  min-width: 800px;
  min-height: 500px;
  height: max-content;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 2px 0px rgba(218, 165, 32, 0.24);
}

.layout {
  margin-top: 65px;
  padding: 50px 80px 0 80px;
}

.title {
  color: var(--Text, #1b0a05);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-s {
  color: var(--secondary);
  font-family: HeadlandOne;
  font-size: 21px;
}

.btn {
  border-radius: 50px;
  background: var(--primary);
  border: 0;
  color: var(--tint);
  padding: 12px 24px 12px 24px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}

.secondary-btn {
  border-radius: 50px;
  border: 1px solid var(--primary);
  background: #fff;
  color: var(--primary);
  padding: 12px 24px 12px 24px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.background-cell {
  background-size: cover; /* Scale the image to cover the cell */
  background-position: center; /* Center the image within the cell */
}

.subTitle {
  color: var(--secondary);
  font-family: HeadlandOne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
