#text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.left {
  width: fit-content;
  font-size: 40px;
  font-weight: 400;
  margin-right: 25px;
}

.right {
  font-size: 15px;
  width: 70%;
  flex-wrap: wrap;
  margin-left: 25px;
  text-align: left;
}

.filter-btn {
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  width: fit-content;
  border: 0.75px solid #000;
  cursor: pointer;
}

.filter-dropdown {
  border-radius: 5px;
  position: absolute;
  background-color: #fff;
  border: 0.5px solid #000;
  list-style: none;
  margin-top: 40px;
  padding: 0;
  z-index: 3;
  transition: opacity 0.3s;
  opacity: 0;
}

.filter-dropdown.active {
  display: block;
  opacity: 1;
}

.filter-dropdown li {
  padding: 8px;
}

.filter-dropdown li:hover {
  background-color: #ccc;
  transition: 0.1s;
}

.product-list {
  padding: 60px;
  flex-wrap: wrap;
  gap: 108px;
  display: flex;
  flex-direction: row;
}

.product-display {
  width: 218px;
  height: 218px;
  position: relative;
  border-radius: 5px;
  align-content: center;
  background-color: #eee552;
}

.product-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-display:hover .product-details {
  opacity: 1;
  transition: opacity 0.3s;
}

.product-details {
  top: 0;
  width: 218px;
  height: 218px;
  display: flex;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  font-size: 20px;
  border-radius: 5px;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0;
}

.product-details .div {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  justify-content: center;
}
